<div class="container mt-4">
  <h1 class="title">El aroma mágico</h1>

  <div class="divider"></div>

  <div class="banner">
    <img
      src="../../../assets/images/bannercaffe.png"
      alt="Banner"
      class="img-fluid"
    />
  </div>

  <div class="divider"></div>

  <div class="table-container">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Region</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cafe of cafes; let i = index">
          <td>
            <b>{{ i + 1 }}</b>
          </td>
          <td>{{ cafe.nombre }}</td>
          <td>{{ cafe.tipo }}</td>
          <td>{{ cafe.region }}</td>
        </tr>
      </tbody>
    </table>
    <p>
      Variedades de café de origen: {{ cafesPorTipo["Café de Origen"] || 0 }}
    </p>
    <p>Variedades de café blend: {{ cafesPorTipo["Blend"] || 0 }}</p>
  </div>
  <footer class="footer mt-5">
    <p>
      Contact us: +57 3102105253 - info&#64;elaromamagico.com -
      &#64;elaromamagico
    </p>
  </footer>
</div>
